<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <canvas id="myChart"></canvas>
    <div class="py-5 px-10">
        <h2 class="font-bold underline text-2xl">Percentiles</h2>
        <p class="indent-4">This table shows the percentage of Pakakumi bets that had a "bustedAt" value above a certain
            threshold. For
            example, the value in the <span class="font-bold">"70%"</span> row means that <span
                class="font-bold">70%</span> of the bets had a "bustedAt" value above <span th:text="${optimal}"
                class="font-bold"></span> . The values
            in the table are sorted in ascending order, so as you go down the table, the threshold values become higher,
            indicating that more bets had a "bustedAt" value above that threshold. The percentiles range from 10% to 90%
            with increments of 10.</p>
        <div class="pt-5">
            <table class="table-auto border border-gray-300">
                <caption class="caption-bottom text-sm text-gray-500 mb-2">
                    Table: Percentiles
                </caption>
                <thead>
                    <tr class="bg-gray-100">
                        <th class="px-4 py-2 font-medium text-gray-700">Percentile</th>
                        <th class="px-4 py-2 font-medium text-gray-700">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="entry : ${percentiles}" class="border-t border-gray-300">
                        <td class="px-4 py-2 text-gray-700 font-medium" th:text="${entry.key + '%'}"></td>
                        <td class="px-4 py-2 text-gray-700" th:text="${entry.value}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- 
        <div>
            <h4>70% of bets are above: <span th:text="${optimal}"></span></h4>
            <h4>Total: <span th:text="${betCount}"></span></h4>
            <h4>Above: <span th:text="${above}"></span></h4>
            <h4>Below <span th:text="${below}"></span></h4>
        </div> -->
    </div>
    <script th:inline="javascript">


        var data = [[${ data }]];
        var labels = Object.keys(data);
        var values = Object.values(data);

        var realValues = Object.values(data);

        var onlineData = [[${ onlineData }]];
        var onlineLabels = Object.keys(onlineData);
        var onlineValues = Object.values(onlineData);

        var playingData = [[${ playingData }]];
        var playingLabels = Object.keys(playingData);
        var playingValues = Object.values(playingData);

        var maxOnlineValue = Math.max(...onlineValues);
        var maxPlayingValue = Math.max(...playingValues);
        var scaledPlayingValues = playingValues.map(function (value) {
            return value * 100 / maxOnlineValue;
        });

        var scaledOnlineValues = onlineValues.map(function (value) {
            return value * 100 / maxOnlineValue;
        });

        var colors = values.map(function (value) {
            if (value >= 1 && value < 10) {
                return '#FF4D4D'; // bright red
            } else if (value >= 10 && value < 20) {
                return '#FFA07A'; // salmon
            } else if (value >= 20 && value < 30) {
                return '#F7DC6F'; // light yellow
            } else if (value >= 30 && value < 40) {
                return '#00FF7F'; // lime green
            } else if (value >= 40 && value < 50) {
                return '#87CEFA'; // sky blue
            } else if (value >= 50 && value < 60) {
                return '#7B68EE'; // medium purple
            } else if (value >= 60 && value < 70) {
                return '#DA70D6'; // orchid
            } else {
                return '#A9A9A9'; // dark gray
            }
        });

        for (var i = 0; i < values.length; i++) {
            if (values[i] > 100) {
                values[i] = 100;
            }
        }

        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    // label: 'Value',
                    data: values,
                    borderColor: "#000000",
                    backgroundColor: colors,
                    borderWidth: 0.5
                },
                {
                    label: 'Playing',
                    data: scaledPlayingValues,
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1,
                    fill: false,
                    pointRadius: 2,
                    pointHoverRadius: 3
                },
                {
                    label: 'Online',
                    data: scaledOnlineValues,
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1,
                    fill: false,
                    pointRadius: 2,
                    pointHoverRadius: 3
                }
                ]
            },
            options: {
                plugins: {
                    tooltip: {
                        callbacks: {
                            beforeTitle: function (context) {
                                var realValue = realValues[context[0].dataIndex];
                                return `Busted At: ${realValue}`;
                            },
                            title: function (context) {
                                return `Time: ${context[0].label}`;
                            },
                            afterTitle: function (context) {
                                var playing = playingValues[context[0].dataIndex];
                                var online = onlineValues[context[0].dataIndex];
                                return `Playing: ${playing} \nOnline: ${online}`;
                            }
                        }
                    }
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            parser: 'HH:mm',
                            unit: 'minute',
                            stepSize: 1,
                            displayFormats: {
                                hour: 'HH:mm'
                            }
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Time of Day'
                        }
                    }],
                    yAxes: [{
                        type: 'linear',
                        ticks: {
                            min: 1,
                            max: 100,
                            callback: function (value, index, values) {
                                if (value === 1 || value === 10 || value === 100) {
                                    return value;
                                }
                            }
                        },
                        afterBuildTicks: function (chartObj) {
                            chartObj.ticks = [1, 10, 100];
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Busted At'
                        }
                    }]
                }
            }
        });
    </script>
</body>

</html>