<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pakakumi Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="flex flex-col min-h-screen">
    <header class="bg-zinc-800 text-white flex justify-between">
        <h1 class="p-2">Welcome to Pakakumi Betting Statistics</h1>
        <!-- <nav>
            <ul class="flex">
                <li class="p-2"><a href="#">Home</a></li>
                <li class="p-2"><a href="#">About</a></li>
                <li class="p-2"><a href="#">Contact</a></li>
            </ul>
        </nav> -->
    </header>
    <main class="p-4">
        <section>
            <h2 class="text-lg font-bold my-2">About Pakakumi</h2>
            <p class="pl-2">Pakakumi is a Kenyan online betting game that offers sports and crash betting. It's a
                thrilling social
                online betting game where you can securely play for fun or to win a fortune. It's real-time, simple, and
                exciting where you bet on chart patterns. The rising and falling of the line chart is influenced by the
                number of players currently playing and their bet multiple using an algorithm called Provably fair.</p>
        </section>
        <section>
            <h2 class="text-lg font-bold my-2">Our Website</h2>
            <p class="pl-2">We provide you with real-time data and insights on the popular Kenyan online betting game,
                Pakakumi. Our
                website tracks and displays the betting statistics of players, including their bets placed and bet
                values. Whether you're a seasoned Pakakumi player or just starting out, our website provides valuable
                information to help you make informed betting decisions. Stay up-to-date with the latest betting trends
                and make the most out of your Pakakumi experience.</p>
        </section>
        <section>
            <h2 class="text-lg font-bold my-2">Server Stats and Tables</h2>
            <div class="flex">
                <div class="mx-2">
                    <a href="/status"><button
                            class="bg-amber-500 hover:bg-amber-600 rounded p-2 text-lg font-bold text-white">ServerStatus
                            <i class="fas fa-info-circle"></i></button></a>
                </div>
                <div class="mx-2">
                    <a href="/entries"><button
                            class="bg-amber-500 hover:bg-amber-600 rounded p-2 text-lg font-bold text-white">View Table
                            <i class="fas fa-table"></i></button></a>
                </div>
            </div>
            <h2 class="text-lg font-bold my-2">Graph for past: </h2>
            <div class="flex-col sm:flex-row">
                <div class="m-2">
                    <a href="/graph/30"><button
                            class="bg-green-500 hover:bg-green-600 rounded p-2 text-lg font-bold text-white">30 mins
                            <i class="fa fa-line-chart" aria-hidden="true"></i></button></a>
                </div>
                <div class="m-2">
                    <a href="/graph/60"><button
                            class="bg-green-500 hover:bg-green-600 rounded p-2 text-lg font-bold text-white">1 hr
                            <i class="fa fa-line-chart" aria-hidden="true"></i></button></a>
                </div>
                <div class="m-2">
                    <a href="/graph/120"><button
                            class="bg-green-500 hover:bg-green-600 rounded p-2 text-lg font-bold text-white">2 hours
                            <i class="fa fa-line-chart" aria-hidden="true"></i></button></a>
                </div>
                <div class="m-2">
                    <a href="/graph/720"><button
                            class="bg-green-500 hover:bg-green-600 rounded p-2 text-lg font-bold text-white">12 hours
                            <i class="fa fa-line-chart" aria-hidden="true"></i></button></a>
                </div>
                <div class="m-2">
                    <a href="/graph/1440"><button
                            class="bg-green-500 hover:bg-green-600 rounded p-2 text-lg font-bold text-white">Day
                            <i class="fa fa-line-chart" aria-hidden="true"></i></button></a>
                </div>

            </div>
        </section>
    </main>
    <footer class="mt-auto">
        <p class="mx-auto">&copy; 2023 Pakakumi Betting Statistics</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
        integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>

    <script>
        $('#graph-link').click(function () {
            var minutes = $('#minutes').val();
            var url = '/graph/' + minutes;
            window.location.href = url;
        });
    </script>
</body>

</html>