<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            background-image: url('https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=max&w=6000&q=100');
            background-size: cover;
            background-position: center;
        }
    </style>

</head>

<body>
    <div class="flex flex-col h-screen bg-zinc-100 w-screen sm:w-1/2 lg:w-2/5">
        <div class="mx-auto py-10 bg-white p-5 my-auto rounded-md drop-shadow-lg">
            <div class=" flex-col text-center my-2 py-2 rounded-t-md">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                <h1 class="font-bold text-2xl ">Welcome!</h1>
                <h1 class="mx-auto font-bold text-zinc-500">Sign in to your account</h1>
            </div>
            <form th:action="@{/login}" method="post" class="flex flex-col">
                <div class="justify-between flex my-2 items-center border-b-2 border-zinc-300">
                    <label class="text-zinc-500" for="username">Username:</label>
                    <input type="text" id="username" name="username"
                        class="px-2 py-1 bg-none focus:outline-0 focus:bg-none" />
                </div>
                <div class="justify-between flex my-2 items-center border-b-2 border-zinc-300">
                    <label class="text-zinc-500" for="password">Password:</label>
                    <input type="password" id="password" name="password"
                        class="px-2 py-1 bg-none focus:outline-0 focus:bg-none" />
                </div>
                <div th:if="${param.error}">
                    <p class="bg-red-100 rounded-md border border-red-500 text-red-500 px-2">Error: <span
                            th:text="${param.error}"></span></p>
                </div>
                <a href="#" class="py-2 text-blue-400">Forgot password?</a>
                <div class="flex">
                    <div class="bg-blue-500 flex py-2 px-7 rounded-md">
                        <input class="pr-2 rounded-md cursor-pointer font-bold" type="submit" value="Login" />
                        <i class="fa fa-arrow-right my-auto" aria-hidden="true"></i>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>